/* General Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

/* Navigation Bar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700; /* Use 700 for bold */
    color: #fff;
    text-decoration: none;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin-left: 1rem;
}

.navbar-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400; /* Use 400 for regular */
}

.navbar-nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 2rem;
    background-color: darkgray;
    background-size: cover;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Black translucent shade */
}

.hero-container {
    position: relative;
    max-width: 800px;
    z-index: 1;
    opacity: 0.9; /* Adjust this to change the opacity of the entire content */
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 600; /* Use 600 for semi-bold */
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 400; /* Use 400 for regular */
}

.hero-btn {
    padding: 1rem 2rem;
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: 600; /* Use 600 for semi-bold */
}

.hero-btn:hover {
    background-color: #e64a19;
}


